/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  --color-text: #111;
  --color-background: #ffffff;
  --color-border: rgb(186, 186, 186);
}

/****************/
/* JOUW STYLING */
/****************/

/* header en nav */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: var(--color-background);
  box-shadow: 0 .0625rem .5rem 0 rgba(0,0,0,.04),0 .0625rem .3125rem 0 rgba(0,0,0,.04);
}

header h1 a img {
  width: 1.5em;
}

header > button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4em;
  height: 4em;
  border: none;
  background: none;
}

header > button img {
  max-width: 3em;
}

header nav div > img {
  max-width: 3em;
}

header nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  gap: 1em;
  background-color: var(--color-background);
  translate: 0% -100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-right: 1em;
}

header nav.toonMenu {
  translate: 0% 0%;
}

header nav div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

header nav div button {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 4em;
  height: 4em;
  border: none;
  background: none;
}

header nav ul {
	display: flex;
	flex-direction: column;
	align-content: space-around;
	list-style: none;
	border-bottom: 1px solid var(--color-border);	
	margin-left: 4em;
}

header nav ul:first-of-type li{
	padding-bottom: 2em;
}

header nav ul:nth-of-type(2) li {
	padding-top: 2em;
}

header nav ul:nth-of-type(2) li:last-of-type {
	padding-bottom: 2em;
}

header nav ul:nth-of-type(2) li:first-of-type a img:last-of-type {
  display: none;
}

header nav ul:last-child li {
	padding-top: 2em;
}

header nav ul:last-child li:last-child {
	padding-bottom: 2em;
}

header nav ul li a {
	color: var(--color-text);
	text-decoration: none;
	display: flex;
	justify-content: space-between;
}

header nav ul:last-of-type li:last-of-type img {
  filter: invert(36%) sepia(90%) saturate(6366%) hue-rotate(342deg) brightness(75%) contrast(142%);
}

header nav ul li img {
	width: 1em;
}



/* main */
main {
  margin: 0 auto;
  padding: 0 4px;
  width: 100%;
}

main section img {
  width: 100%;
}
main section article {
  padding-top: 50px;
  margin-bottom: 50px;
  padding: 1em 0.5em;
}

main section article h2 {
  padding: 1em 0;
  margin-left: .75rem;
  margin-right: .75rem;
}

main section article a {
  background-color: #ffbc0d;
  color: black;
  border: none;
  border-radius: 4px;
  width: 10em;
  height: 3em;
  margin: 0 .75rem;
  font-size: 14px;
  font-weight: 200;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 1em;
}

main section article p {
  margin-bottom: 19px;
  padding: 0 4px;
  line-height: 24px;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: -.15px;
  margin-left: .75rem;
  margin-right: .75rem;
}

main section:first-of-type article {
  display: flex;
  flex-direction: column;
}

main section:nth-of-type(2) {
  margin: 0 auto;
  display: flex;
  overflow: visible;
  flex-direction: column;
}

main section:nth-of-type(2) article p {
  font-size: 1pc;
}

main section:nth-child(3) {
  display: flex;
  flex-direction: column;
}

main section:last-of-type {
  display: flex;
  flex-direction: column;
}

/* tweede pagina */

.mccrispy {
  display: flex;
  justify-content: center;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 9px;
  padding-right: 9px;
  flex-direction: column;
  padding-top: 50px ;
  overflow: hidden;
  align-content: center;
}

.mccrispy article img {
  margin: 40px 0;
  vertical-align: middle;
  max-width: 100%;
}

.mccrispy article h1 {
  font-size: 36px;
  margin: 0 0 25px;
  text-align: center;
}

.mccrispy article p:first-of-type {
  font-size: 14px;
  font-weight: 200;
  line-height: 24px;
  text-align: center;
}

.mccrispy article p:nth-of-type(2) {
  font-size: 20px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: 200;
}

.mccrispy article  p:nth-of-type(3) {
  padding-bottom: 1.5em;
}

.mccrispy article p:nth-of-type(3), .mccrispy article p:nth-of-type(4) {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-align: left;
}

.mccrispy article p:nth-of-type(5)  {
  text-align: center;
  padding-top: 2em;
}

.mccrispy section p {
  font-size: 20px;
  line-height: 24px;
}

.mccrispy form {
  margin-top: 55px;
  margin-bottom: 2em;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(231, 231, 231);
  width: 100%;
}

.mccrispy form label {
  width: 350px;
  display: flex;
  justify-content: center;
}

.mccrispy form label:first-of-type {
  padding-top: 1em;
  display: flex;
  flex-direction: column;
}

.mccrispy form label input {
  height: 1.5em;
  font-size: 15px;
  margin-top: 0.25em;
  width: 350px;
}

.mccrispy form label:last-of-type {
  padding-top: 0.5em;
  display: flex;
  flex-direction: column;
}

.mccrispy form button {
  background-color: #ffbc0d;
  width: 9em;
  height: 3em;
  border-radius: 5px;
  border-style: none;
  font-size: 14px;
  margin-top: 1em;
  justify-self: center;
}

/*************************/
/* RESPONSIVE STYLING    */
/*************************/
@media (min-width: 700px) {
  main section:nth-of-type(2), main section:nth-of-type(3) {
    flex-direction: row;
  }
}

@media (min-width: 950px) {
  main section:nth-of-type(4) {
    flex-direction: row;
  }  
  
  .mccrispy article {
    grid-template-columns: 40% 1fr;
  }

  .mccrispy form {
    margin-left: 25%;
  }
}


@media (min-width: 1000px) {
  header {
    display: grid;
    width: 100%;
    justify-content: center;
    grid-template-columns: 165px auto;
    position: unset;
    padding-top: 1em;
    background: var(--color-background);
    margin: 0 auto;
  }

  header nav {
	  display: grid;
    position: relative;
    translate: unset;
    padding: 0;
    margin-bottom: 1em;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
  }

  header h1 a img {
    width: auto;
    height: auto;
  }

  header nav ul:first-of-type {
    grid-column: 1/2;
    grid-row: 1/1;
    display: flex;
    flex-direction: row;
    font-size: 14px;
  }

  header nav ul:nth-of-type(2) {
    grid-column: 1/-1;
    grid-row: 2/2;
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    
  }

  header nav ul:nth-of-type(2) li:first-of-type a img:first-of-type {
    display: none;
  }

  header nav ul:nth-of-type(2) li:first-of-type a img:last-of-type {
    display: unset;
    width: 1.5em;
  }

  header nav ul:nth-of-type(2) li, header nav ul:nth-of-type(2) li:last-of-type, header nav ul:last-of-type li, 
  header nav ul:first-of-type li, header nav ul:last-child li:last-child  {
    padding: 0;
    padding-bottom: 0;
    padding-top: 0;
  }
  
  header nav ul {
    gap: 1em;
    border: none;
    margin: 0;
    padding: 0;
  }

  header nav ul:last-of-type {
    grid-column: 2/2;
    grid-row: 1/1;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    margin-left: 7em;
    justify-self: end;
  }

  header nav ul:last-of-type li a {
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
    gap: 0.5em;
  }

  header nav div, header button {
    display: none;
  }

  /* main */
  main {
    max-width: 1170px;
  }

  main section:nth-of-type(2) article,  main section:nth-child(3) article, main section:last-of-type article {
    width: 50%;
  }

  main section:nth-of-type(2) {
    flex-direction: row;
  }

  main section:nth-child(3) {
    display: flex;
    flex-direction: row;
  }

  main section:last-of-type {
    display: flex;
    flex-direction: row;
  }

  .mccrispy {
    width: 1070px;

  }

  .mccrispy article {
    display: grid;
    grid-template-columns: 75% 1fr;
  }

  .mccrispy article h1 {
    text-align: left;
    align-self: center;
    display: block;
    grid-column: 2/3;
  }

  .mccrispy article p {
    text-align: left;
    grid-column: 2/3;
  }

  .mccrispy article p:nth-of-type(3), .mccrispy article p:nth-of-type(2), .mccrispy article p:nth-of-type(1) {
    margin-top: 1em;
    text-align: left;
  }

  .mccrispy article img {
    align-self: flex-start;
    grid-column: 1/1;
    grid-row: 1/6;
    flex: 1 1 67%;
  }

  .mccrispy form {
    width: 450px;
    margin-left: 25%;
  }

}

